::ng-deep app-search-widget {
    display: contents;
    h4 {
        font-weight: 500 !important;
    }
    td {
        padding-right: 8px !important;
    }
    .hjl-full-width {
        width: 100%;
    }
}